In [23]:
import pandas as pd
import numpy as np
from pandas import ExcelWriter

In [24]:
fields=['BALDER','COD','TOR','FRAM','GOLIAT','EKOFISK','GRANE']

In [25]:
prod_wells=pd.read_csv(r"./datafiles/wellbore_development_all.csv", sep=",")
print(prod_wells.columns)
prod_wells.head()

Index(['wlbWellboreName', 'wlbWell', 'wlbDrillingOperator',
       'wlbProductionLicence', 'wlbStatus', 'wlbPurpose', 'wlbPurposePlanned',
       'wlbContent', 'wlbWellType', 'wlbSubSea', 'wlbEntryDate',
       'wlbCompletionDate', 'wlbEntryPreDrillDate', 'wlbCompPreDrillDate',
       'wlbField', 'wlbDrillPermit', 'wlbDiscovery', 'wlbDiscoveryWellbore',
       'wlbKellyBushElevation', 'wlbFinalVerticalDepth', 'wlbTotalDepth',
       'wlbWaterDepth', 'wlbKickOffPoint', 'wlbMainArea',
       'wlbDrillingFacility', 'wlbFacilityTypeDrilling',
       'wlbDrillingFacilityFixedOrMoveable', 'wlbProductionFacility',
       'wlbLicensingActivity', 'wlbMultilateral', 'wlbContentPlanned',
       'wlbEntryYear', 'wlbCompletionYear', 'wlbReclassFromWellbore',
       'wlbPluggedAbandonDate', 'wlbPluggedDate', 'wlbLicenceTargetName',
       'wlbPlotSymbol', 'wlbGeodeticDatum', 'wlbNsDeg', 'wlbNsMin', 'wlbNsSec',
       'wlbNsCode', 'wlbEwDeg', 'wlbEwMin', 'wlbEwSec', 'wlbEwCode',
       'wlbNsDecDeg', 'wlbEwDesDeg', 'wlbNsUtm', 'wlbEwUtm', 'wlbUtmZone',
       'wlbNamePart1', 'wlbNamePart2', 'wlbNamePart3', 'wlbNamePart4',
       'wlbNamePart5', 'wlbNamePart6', 'wlbFactPageUrl', 'wlbFactMapUrl',
       'wlbDiskosWellboreType', 'wlbDiskosWellboreParent', 'wlbNpdidWellbore',
       'dscNpdidDiscovery', 'fldNpdidField', 'wlbWdssQcDate',
       'wlbReleasedDate', 'prlNpdidProductionLicence',
       'prlNpdidProdLicenceTarget', 'fclNpdidFacilityDrilling',
       'fclNpdidFacilityProducing', 'wlbNpdidWellboreReclass',
       'wlbDateUpdated', 'wlbDateUpdatedMax', 'datesyncNPD'],
      dtype='object')

,wlbWellboreName,wlbWell,wlbDrillingOperator,wlbProductionLicence,wlbStatus,wlbPurpose,wlbPurposePlanned,wlbContent,wlbWellType,wlbSubSea,...,wlbWdssQcDate,wlbReleasedDate,prlNpdidProductionLicence,prlNpdidProdLicenceTarget,fclNpdidFacilityDrilling,fclNpdidFacilityProducing,wlbNpdidWellboreReclass,wlbDateUpdated,wlbDateUpdatedMax,datesyncNPD
0,1/3-A-1 H,1/3-A-1,DONG E&P Norge AS,274,P&A,PRODUCTION,PRODUCTION,OIL,DEVELOPMENT,YES,...,NaN,21.09.2013,2060266,NaN,278245.0,410592.0,0,07.08.2021,06.10.2015,24.09.2021
1,1/3-A-2 H,1/3-A-2,DONG E&P Norge AS,274,P&A,PRODUCTION,PRODUCTION,OIL,DEVELOPMENT,YES,...,NaN,19.01.2014,2060266,NaN,278245.0,410592.0,0,07.08.2021,06.10.2015,24.09.2021
2,1/3-A-3 H,1/3-A-3,DONG E&P Norge AS,274,P&A,PRODUCTION,PRODUCTION,OIL,DEVELOPMENT,YES,...,NaN,14.05.2014,2060266,NaN,278245.0,410592.0,0,07.08.2021,06.10.2015,24.09.2021
3,1/3-K-1,1/3-K-1,BP Amoco Norge AS,065,PRODUCING,PRODUCTION,PRODUCTION,OIL,DEVELOPMENT,NO,...,NaN,31.07.2000,21316,NaN,296191.0,280793.0,3362,22.08.2021,06.10.2015,24.09.2021
4,1/3-K-2,1/3-K-2,Aker BP ASA,065,PLUGGED,OBSERVATION,PRODUCTION,NOT APPLICABLE,DEVELOPMENT,NO,...,NaN,19.01.2020,21316,NaN,436222.0,280793.0,0,23.02.2021,NaN,24.09.2021

In [16]:
wells_in_area=prod_wells.loc[(prod_wells['wlbField'].isin(fields))]

In [17]:
wells_in_area.describe()

,wlbKellyBushElevation,wlbFinalVerticalDepth,wlbTotalDepth,wlbWaterDepth,wlbKickOffPoint,wlbEntryYear,wlbCompletionYear,wlbLicenceTargetName,wlbPlotSymbol,wlbNsDeg,...,wlbNamePart4,wlbNamePart6,wlbNpdidWellbore,dscNpdidDiscovery,fldNpdidField,prlNpdidProductionLicence,prlNpdidProdLicenceTarget,fclNpdidFacilityDrilling,fclNpdidFacilityProducing,wlbNpdidWellboreReclass
count,839.000000,724.000000,782.000000,839.000000,373.000000,839.000000,839.000000,4.00,839.000000,839.000000,...,839.000000,0.0,839.000000,8.390000e+02,8.390000e+02,8.390000e+02,4.00,839.000000,830.000000,839.000000
mean,52.724076,2679.128315,4248.131586,114.336830,2174.517426,1872.655542,1863.177592,4.75,80.147795,57.835518,...,16.096544,NaN,5402.606675,1.963334e+05,5.580368e+05,2.473192e+05,4.75,304071.967819,315596.073494,0.924911
std,17.813426,743.276460,1162.163683,75.368411,1368.911893,496.455274,512.886416,2.50,44.099552,3.159503,...,12.609292,NaN,2708.373645,6.921054e+05,1.187100e+06,4.213731e+05,2.50,51373.276995,77476.573528,19.984847
min,0.000000,316.000000,309.000000,67.000000,221.000000,0.000000,0.000000,1.00,0.000000,56.000000,...,1.000000,NaN,555.000000,4.407200e+04,4.350600e+04,2.075600e+04,1.00,271385.000000,271385.000000,0.000000
25%,34.000000,1839.000000,3510.325000,73.000000,1045.000000,1992.000000,1991.500000,4.75,50.000000,56.000000,...,6.000000,NaN,3263.000000,4.407200e+04,4.350600e+04,2.090000e+04,4.75,278525.000000,271525.000000,0.000000
50%,57.000000,3192.500000,4089.000000,78.600000,2006.000000,2006.000000,2006.000000,6.00,50.000000,56.000000,...,14.000000,NaN,5590.000000,4.407200e+04,4.350600e+04,2.090000e+04,6.00,283285.000000,283285.000000,0.000000
75%,69.900000,3306.250000,4956.750000,127.500000,3059.000000,2014.000000,2014.000000,6.00,99.000000,59.000000,...,23.000000,NaN,7781.500000,4.421600e+04,1.035937e+06,2.264400e+04,6.00,297514.000000,364198.000000,0.000000
max,79.200000,4702.000000,7800.000000,394.000000,6380.000000,2021.000000,2021.000000,6.00,173.000000,71.000000,...,95.000000,NaN,9424.000000,4.972656e+06,5.774394e+06,1.030964e+06,6.00,439972.000000,719039.000000,519.000000

In [22]:
group=wells_in_area[['wlbField','wlbWell']].groupby(by=["wlbField"]).count()
group

          wlbWell
wlbField
BALDER         99
COD             9
EKOFISK       445
FRAM           29
GOLIAT         35
GRANE         188
TOR            34

In [21]:
w = ExcelWriter('Field_Wells.xlsx')
for a in wells_in_area['wlbField'].unique():
    df=wells_in_area.loc[(wells_in_area['wlbField']==a)]
    df.to_excel(w, sheet_name=a)
group.to_excel(w, sheet_name="Summary")
w.save()